* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body, html {
	background-color: #ccc;
	height: 100%;
}

#header {
	height: 50px;
	width: 100%;
	min-width: 960px;
	background-color: #6b7a88;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	position: fixed;
	z-index: 1000;
}

#header img {
	float: left;
	height: 47px;
	margin-left: 10px;
}

#navigation {
	float: right;
}
#navigation li {
	padding: 15px;
	color: #fff;
}
#book-now-nav li{
	border: 1px solid #fff;
	border-radius: 4px; 
	padding: 10px 15px;
	margin: 0px;
	font-weight: 700;
}
#navigation ul li {
	display: inline-block;
}
#header:after {
	content: '';
	display: block;
	clear: both;
}
#buffer {
	height: 50px;
}
#content {
	width: 960px;
	height: calc(100% - 80px);
	min-height: 100%;
	margin: 0 auto -30px;
}

#home-banner {
	display: block;
	background: url(../img/milford-sound-banner.jpg) no-repeat center;
	background-size: cover;
	height: 70%;
	position: relative;
	min-width: 970px;
	min-height: 300px;
}

#home-banner p {
	color: #fff;
	font-size: 24px;
	padding-left: 10px;
}
#home-banner p span {
	color: #05a4b2;
	font-style:  italic;
	font-size: 18px;
	position: relative;
	font-weight: 700;
	left: 40px;
	top: -5px;
}

#banner-text-container {
	width: 970px;
	margin: 0 auto;
	position: relative;
	top: 70%;
}
#banner-text-background {
	background-color: rgba(255,255,255,0.35);
	width: 790px;
	height: 65px;
	position: relative;
	left: -120px;
}
#banner-text {
	position: relative;
	top: -65px;
}
#home {
	height: calc(30% - 50px);
}
#home ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 3.5% 0;
}
#home li {
	height: 117px;
	width: 230px;
	background-color: rgba(6,204,223,0.4);
	display: inline-block;
}

#home a:nth-child(1),
#home a:nth-child(2),
#home a:nth-child(3) {
	margin-right: 10px;
}
#home a:nth-child(4) {
	margin: 0;
	width: 230px;
	float: right;
}

#home a {
	text-decoration: none;
	color: #fff;
	width: 230px;;
	text-align: center;
	position: relative;
	top: 50px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	z-index: 5;
}
#home a p {
	position: relative;
	top: 40px;
}

#home li {
	position: relative;
	top: -50px;
}
#home-link-backgrounds {
	z-index: 1;
	position: relative;
	top: -134.5px;
	height: 117px;
}
#home-link-backgrounds li:nth-child(1),
#home-link-backgrounds li:nth-child(2),
#home-link-backgrounds li:nth-child(3){
	margin-right: 10px;
}
#home-link-backgrounds li:nth-child(4) {
	width: 230px;
	margin: -2px;
}

#about-us {
	background-color: pink;
	height: calc(100% - 80px);
}


#flights {
	height: calc(100% - 80px);
}


#gallery {
	height: calc(100% - 80px);
}


#book-now {
	height: calc(100% - 80px);
}


#contact {
	height: calc(100% - 80px);
}


#content:after {
	content: '';
	display: block;
}

#footer, #content:after {
	height: 30px;
}

#footer {
	background-color: #475059;
	width: 100%;
	position: fixed;
	color: #c9c9c9;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	min-width: 970px;
	bottom: 0;
}

#footer ul {
	text-align: center;
}

#footer li {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding: 6px 10px;
}

#footer li:nth-child(1) {
	float: left;
}

#footer li:nth-child(2) a {
	color: #c9c9c9;
	text-decoration: none;
	font-weight: 700;
}

#footer li:nth-child(3){
	float: right;
	height: 30px;
}
#footer img {
	width: 20px;
	padding: 6.5px;
	position: relative;
	top: -6px;
}
#footer li:nth-child(3) a {
	color: #c9c9c9;
	text-decoration: none;
	position: relative;
	top: -17px;
}
















