* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body, html {
	background-color: #ccc;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

#header {
	height: 50px;
	width: 100%;
	min-width: 960px;
	background-color: #6b7a88;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	position: fixed;
	z-index: 1000;
}

#header img {
	float: left;
	height: 47px;
	margin-left: 10px;
}

#navigation {
	float: right;
}
#navigation li {
	padding: 15px;
	color: #fff;
}
#navigation a {
	text-align: center;
	color: #fff;
	text-decoration: none;
}

#navigation a:hover {
	font-weight: 700;
	transition: 0.2s;
}
#navigation a:active {
	color: #05ccdf;
	font-weight: 700;
}
#navigation li:nth-child(1) {
	text-align: center;
}
#navigation li:nth-child(2) {
	width: 70.84px;
	text-align: center;
}
#navigation li:nth-child(3) {
	width: 56.9px;
	text-align: center;
}
#navigation li:nth-child(4) {
	width: 61.45px;
	text-align: center;
}
#navigation li:nth-child(6) {
	width: 66.24px;
	text-align: center;
}

#book-now-nav a{
	border: 1px solid #fff;
	border-radius: 4px; 
	padding: 10px 15px;
	margin: 0px;
	font-weight: 700;
	width: 85px;
}
#book-now-nav a:hover {
	background-color: #fff;
	color: #05ccdf;
	border: 1px solid #05ccdf;	
}
#navigation ul li {
	display: inline-block;
}
#header:after {
	content: '';
	display: block;
	clear: both;
}
.buffer {
	height: 50px;
}

.section {
	width: 960px;
	margin: 0 auto;
	height: calc(100% - 80px);
}

#home-banner {
	display: block;
	background: url(../img/milford-sound-banner.jpg) no-repeat center;
	background-size: cover;
	height: calc(70% - 30px);
	position: relative;
	min-width: 970px;
	min-height: 300px;
}

#home-banner p {
	color: #fff;
	font-size: 24px;
	padding-left: 10px;
}
#home-banner p span {
	color: #05a4b2;
	font-style:  italic;
	font-size: 18px;
	position: relative;
	font-weight: 700;
	left: 40px;
	top: -5px;
}

#banner-text-container {
	width: 970px;
	margin: 0 auto;
	position: relative;
	top: 70%;
}
#banner-text-background {
	background-color: rgba(255,255,255,0.35);
	width: 790px;
	height: 65px;
	position: relative;
	left: -120px;
}
#banner-text {
	position: relative;
	top: -65px;
}
#home {
	height: 30%;
	position: relative;
	min-height: 120px;
}
#vertical-center {
	width: 960px;
	height: 117px;
	position: absolute;
	top: calc(50% - 58.5px);
	margin-top: -58.5px;
}
#home ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 3.5% 0;
}
#home li {
	height: 117px;
	width: 230px;
	background-color: rgba(6,204,223,0.4);
	display: inline-block;
}

#home a:nth-child(1),
#home a:nth-child(2),
#home a:nth-child(3) {
	margin-right: 10px;
}
#home a:nth-child(4) {
	margin: 0;
	width: 230px;
	float: right;
}

#home a {
	text-decoration: none;
	color: #fff;
	width: 230px;;
	text-align: center;
	position: relative;
	top: 50px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	z-index: 5;
}
#home a p {
	position: relative;
	top: 40px;
}

#home li {
	position: relative;
	top: -50px;
}
#home-link-backgrounds {
	z-index: 1;
	position: relative;
	top: -134.5px;
	height: 117px;
}
#home-link-backgrounds li:nth-child(1),
#home-link-backgrounds li:nth-child(2),
#home-link-backgrounds li:nth-child(3){
	margin-right: 10px;
}
#home-link-backgrounds li:nth-child(4) {
	width: 230px;
	margin-left: -2.5px;
}
/* start of the code for the about-us section */
#about-us {
	height: calc(100% - 30px);
	position: relative;
	min-height: 740px;
}
#about-us:after {
	content: '';
	display: block;
	clear: both;
}
#left-about-us {
	float: left;
	position: absolute;
	height: 683px;
	width: 448px;
	top: calc(50% - 321.5px);
}
#right-about-us {
	float: right;
	position: absolute;
	height: 683px;
	width: 448px;
	top: calc(50% - 321.5px);
	right: 0;
}
#about-us article {
	background-color: #fff;
	width: 408px;
	margin: 20px;
	height: 159px;
	margin-bottom: 88px;
	padding: 10px;
	box-sizing: border-box;
}
#about-us article img {
	float:left;
	width: 207px;
	height: 159px;
	width: 159px;
	margin-right: 10px;
	position: relative;
	top: -10px;
	left: -10px;
}
#about-us article h1 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	white-space: nowrap;
}
#mckenzie {
	position: relative;
	left: -13px;
}
#dropper {
	position: relative;
	left: -8px;
}
.lowercase {
	text-transform: lowercase !important;
}
#about-us article p {
	font-size: 11px;
	line-height: 13.8px;
}
#about-us .large-article {
	height: 406px;
}
#about-us .large-article img{
	width: 207px;
	height: 406px;
}
/* end of the code for the about-us section */

/* start of the code for the flights section */

#flights {
	height: calc(100% - 30px);
	position: relative;
	min-height: 665px;
}

#flights ul {
	width: 860px;
	margin: 0 auto;
	overflow: auto;
	white-space: nowrap;
	position: absolute;
	height: 550px;
	top: calc(50% - 250px);
	left: calc(50% - 430px);
}

#flights ul li {
	display: inline-block;
	list-style: none;
	vertical-align: top;
}

#flights li {
	width: 240px;
	height: 500px;
	overflow: visible;
	white-space: normal;
	margin-right: 50px;
}

#flights img {
	margin-bottom: 40px;
}

#flights h1 {
	color: #05a4b2;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 15px;
	position: relative;
}

#flights h2 {
	color: #3f3f3f;
	font-weight: 300;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 10px;
}

#flights p {
	color: #3f3f3f;
	font-weight: 300;
	font-size: 14px;
}

/* end of the code for the flights section */

/* start of the code for the contact section */
#gallery {
	height: calc(100% - 30px);
	position: relative;
	min-height: 775px;
}
.fa {
	color: #05ccdf;
}

#gallery-thumbnails {
	position: absolute;
	height: 692px;
	margin: 0 auto;
	top: calc(50% - 318px);
	left: 54px;
}
#gallery-thumbnails img {
	height: 153px;
	width: 153px;
}
.gallery-row-1 img,
.gallery-row-2 img,
.gallery-row-3 img,
.gallery-row-4 img {
	margin-right: 20px;
	height: 153px;
	width: 153px;
}
.gallery-row-1 img,
.gallery-row-2 img,
.gallery-row-3 img {
	margin-bottom: 20px;
}
.last-column img {
	margin-right: 0px !important;
}
.youtube-icon img{
	width: 44px;
	height: 29px;
	position: absolute;
	top: 10px;
}
#gallery-popup {
	position: relative;
	z-index: 2;
}
.lightbox-target {
	position: fixed;
	top: 100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	width: 100%;
	opacity: 0;
	overflow: hidden;
}
.lightbox-target img {
	margin: auto;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	max-height: 450px;
	max-width: 0%;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	box-sizing: border-box;
	
}
a.lightbox-close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background: transparent;
	color: black;
	text-decoration: none;
	position: absolute;
	top: -80px;
	right: 0;
}
a.lightbox-close:before {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: #fff;
	position: absolute;
	left: 26px;
	top:10px;
	transform:rotate(45deg);
}
a.lightbox-close:after {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: #fff;
	position: absolute;
	left: 26px;
	top:10px;
	transform:rotate(-45deg);
}
.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
}

.lightbox-target:target img {
	max-height: 100%;
	max-width: 860px;
}
.lightbox-target:target i {
	max-height: 100%;
	max-width: 860px;
}
.lightbox-target:target a.lightbox-close {
	top: 50px;
}
.image-holder img {
	max-height: 450px;
	max-width: 860px;
	margin: auto;
	overflow: hidden;
}
div .image-holder, iframe {
	height: 450px;
	width: 860px;
	margin: auto;
	display: block;
	position: relative;
	top: calc(50% - 250px);
}
/* css selector to chrome to try and get the youtube video in the right place */

.chrome .image-holder {
	max-height: 450px;
	max-width: 860px;
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 430px);
	overflow: hidden;
}

/* end of the code for specifically chrome */
 
.lightbox a {
	color: #05ccdf;
	position: relative;
}
.lightbox i {
	position: absolute;
	z-index: 1;
	font-size: 40px;
	color: #05ccdf;
}

.thumbnail-slider {
	position: absolute;
	bottom: 50px;
	height: 100px;
	width: 862px;
	margin: 0 auto;
	overflow: auto;
	white-space: nowrap;
}
.thumbnail-slider img {
	all: initial;
	* {
		all:unset;
	}
}
.thumbnail-slider a img {
	margin-right: 8px;
	width:;
	height:75px;
	position: relative;
}

.gallery-section {
	width: 862px;
	margin: 0 auto;
	height: calc(100% - 80px);

}

.gallery-section #left-scroll {
	float: left;
	position: relative;
	left: -40px;
	top: calc(50% - 0px);
	font-size: 70px;
	color: #ddd;
}

.gallery-section #right-scroll {
	float: right;
	position: relative;
	right: -40px;
	top: calc(50% - 0px);
	font-size: 70px;
	color: #ddd;
}


/* end of the code for the gallery section */

/* start of the code for the book-now section */
#book-now {
	height: calc(100% - 30px);
	position: relative;
	width: 960px;
	margin: 0 auto;
	min-height: 770px;
}
#book-now:after {
	content: '';
	display: block;
	clear: both;
}

#book-now-left {
	height: 680px;
	position: absolute;
	top: calc(50% - 320px);
	left: 0;
}

#book-now-right {	
	height: 680px;
	background-color: #ddd;
	width: 500px;
	position: absolute;
	top: calc(50% - 320px);
	right: 0;
}

#book-now-right span {
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	white-space: nowrap;

}

#book-now-info {
	position: relative;	
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	height: 680px;
}

#book-now-info li {
	height: 155px;
	background-color: rgba(6,204,223,0.4);
	list-style: none;
	width: 284px;
	margin-bottom: 20px;
}
#book-now-info-foreground {
	z-index: 2;
}

#book-now-info-background {
	z-index: -1;
	position: absolute;
	top: 0;
}
#book-now-info h1 {
	font-size: 24px;
	font-weight: 700;
	position: relative;
	top: 45px;
}

#book-now-info p {
	position: relative;
	top: 60px;
	font-size: 14px;
	font-weight: 700;
}

#book-now label {
	font-size: 14px;
}

.label {
	text-transform: uppercase;
	font-size: 14px;
	width: 150px;
	display: inline-block;
	font-weight: 800;
}

#book-now .label {
	width: 160px;
}

.radio-group:after {
	content: '';
	display: block;
	clear: both;
}

.radio-group > label {
	display: block;
	width: 150px;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
}

#flight-group > label {
	height: 132px;
}
#aircraft-group > label {
	height: 90px;
}

.form-section {
	margin-top: 10px;
}

#book-now .submit {
	display: block;
	padding: 10px 15px;
	margin: 5px auto;
}

#book-now-form {
	margin: 20px 50px;
}

/* end of the code for the book-now section */

/* start of the code for the contact section */
.google-maps iframe {
	width: 100% !important;
	height: 350px !important;
}

#contact {
	height: calc(100% - 30px);
	width: 100%;
	color: #545454;
	min-height: 723px;
}
#contact-container {
	position: relative;
	height: calc(100% - 400px);
}
#contact-container-child {
	width: 960px;
	height: 323px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -161.5px 0 0 -470px;
}
#contact-container-child:after {
	content: '';
	display: block;
	clear: both;
}

.office-details {
	float: left;
	width: 461px;
}
.contact-form {
	float: right;
	width: 461px;
}
table {
	margin-bottom: 10px;
}
th {
	width: 150px;
	font-size: 14px;
	font-weight: 800;
	color: #545454;
	text-align: left;
}
td {
	font-weight: 300;
	font-size: 14px;
	color: #545454;
}
.valign {
	vertical-align: top;
}
.table-time {
	padding-left: 30px;
}

#contact-form input {
	width: 300px;
}

#contact-form label {
	font-weight: 800;
}

#contact-submit {
	padding: 10px 15px;
	width: 100px !important;
	font-size: 14px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #545454;
	margin-left: calc(50% - 50px);
}

/* end of the code for the contact section */

#compact-footer {
	height: 30px;
}

#compact-footer {
	background-color: #475059;
	width: 100%;
	position: fixed;
	color: #c9c9c9;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	min-width: 970px;
	bottom: 0;
	z-index: 500;
}

#compact-footer ul {
	text-align: center;
}

#compact-footer li {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding: 6px 10px;
}

#compact-footer li:nth-child(1) {
	float: left;
}

#compact-footer li:nth-child(2) a {
	color: #c9c9c9;
	text-decoration: none;
	font-weight: 700;
}

#compact-footer li:nth-child(3){
	float: right;
	height: 30px;
}
#compact-footer img {
	width: 20px;
	padding: 6.5px;
	position: relative;
	top: -6px;
}
#compact-footer li:nth-child(3) a {
	color: #c9c9c9;
	text-decoration: none;
	position: relative;
	top: -17px;
}

#footer-container {
	width: 100%;
	color: #c9c9c9;
	background-color: #475059;
	position: relative;
	z-index: 1000;
	top: 0px;
	height: 200px;
	margin: 0 auto;
	text-align: center;
}
#footer {
	width: 960px;
	color: white;
	margin: 0 auto;
}
#footer h1 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	padding: 0 0 10px 0;
}

#footer ul {
	display: inline-block;
	list-style: none;
}

#footer-quicklinks {
	float: left;
	text-align: left;
}
#footer-quicklinks li {
	font-size: 16px;
	font-weight: 300;
}
#footer-quicklinks ul:nth-child(2) {
	padding-right: 30px;
}

#footer a {
	color: inherit;
	text-decoration: none;
}
#footer-contact {
	margin: 0 auto;
	display: inline-block;
	font-size: 12px;
}
#footer-contact p {
	text-align: left;
}

#right-footer {
	float: right;
	text-transform: uppercase;
	font-size: 12px;
}
#right-footer img {
	width: 20px;
	padding: 6.5px;
	position: relative;
	top: 9px;
}
#back-to-top {
	font-weight: 700;
	padding: 8px 14px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	position: relative;
	top: 30px;
}
#back-to-top:hover {
	background-color: #c9c9c9;
	color: #475059;
	transition: 0.2s;
}
#personal-brand {
	position: relative;
	bottom: -43px;
}

#footer h1 {
	font-weight: 700;
	font-size: 12px;
	text-align: center;
}

#right-footer, #footer-quicklinks, #footer-contact {
	height: 110px;
	position: relative;
	top: 35px;
	margin: 10px;
	width: 250px;
}